@import "../../../assets/styles/variables.scss";

.header {
  &-nav {
    &__list {
      display: flex;
      gap: 15px;
      list-style: none;
    }

    &__item {
      padding: 5px 10px;
      background-color: $accent-color;
      border-radius: 7px;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover,
      &.active {
        background-color: $accent-hover-color;
        box-shadow: 0 0 5px $accent-color;
      }
    }

    &__link {
      color: $dark-font-color;
    }
  }
}
